button, .button {
    display: inline-block;
    text-decoration: none;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    text-align: center;

    &.round {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: black;
        color: #f9c82a;
        .glyphicon {
            top: 0;
        }
    }
}